In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

/Users/kaylacheng/Desktop/crm intelligence agent/Team2B/.venv/lib/python3.9/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

In [3]:
from pathlib import Path

# 1) Point to the folder that holds the CSVs
DATA_DIR = Path("data_directory")   # 

# 2) Quick sanity check (should list 5 CSVs)
print("CWD:", Path.cwd())
print("In data_directory:", list(DATA_DIR.glob("*.csv")))

# 3) Read the files
accounts    = pd.read_csv(DATA_DIR / "accounts.csv")
products    = pd.read_csv(DATA_DIR / "products.csv")
pipeline    = pd.read_csv(DATA_DIR / "sales_pipeline.csv")
sales_teams = pd.read_csv(DATA_DIR / "sales_teams.csv")
data_dict   = pd.read_csv(DATA_DIR / "data_dictionary.csv")

for df, name in [(accounts,"Accounts"), (products,"Products"), (pipeline,"Pipeline"), (sales_teams,"Sales Teams")]:
    print(f"\n{name} ---")
    print(df.info())
    print(df.head())

CWD: /Users/kaylacheng/Desktop/crm intelligence agent/Team2B
In data_directory: [PosixPath('data_directory/products.csv'), PosixPath('data_directory/accounts.csv'), PosixPath('data_directory/sales_pipeline.csv'), PosixPath('data_directory/sales_teams.csv'), PosixPath('data_directory/data_dictionary.csv')]

Accounts ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   account           85 non-null     object
 1   sector            85 non-null     object
 2   year_established  85 non-null     int64
 3   revenue           85 non-null     float64
 4   employees         85 non-null     int64
 5   office_location   85 non-null     object
 6   subsidiary_of     15 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 4.8+ KB
None
            account     sector  year_established  revenue  employees  \
0  Acme Corporation  technolgy              1996  1100.04       2822
1        Betasoloin    medical              1999   251.41        495
2          Betatech    medical              1986   647.18       1185
3        Bioholding    medical              2012   587.34       1356
4           Bioplex    medical              1991   326.82       1016

  office_location subsidiary_of
0   United States           NaN
1   United States           NaN
2           Kenya           NaN
3      Philipines           NaN
4   United States           NaN

Products ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   product      7 non-null      object
 1   series       7 non-null      object
 2   sales_price  7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes
None
        product series  sales_price
0     GTX Basic    GTX          550
1       GTX Pro    GTX         4821
2    MG Special     MG           55
3   MG Advanced     MG         3393
4  GTX Plus Pro    GTX         5482

Pipeline ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   opportunity_id  8800 non-null   object
 1   sales_agent     8800 non-null   object
 2   product         8800 non-null   object
 3   account         7375 non-null   object
 4   deal_stage      8800 non-null   object
 5   engage_date     8300 non-null   object
 6   close_date      6711 non-null   object
 7   close_value     6711 non-null   float64
dtypes: float64(1), object(7)
memory usage: 550.1+ KB
None
  opportunity_id      sales_agent         product  account deal_stage  \
0       1C1I7A6R      Moses Frase  GTX Plus Basic  Cancity        Won
1       Z063OYW0  Darcel Schlecht          GTXPro    Isdom        Won
2       EC4QE1BX  Darcel Schlecht      MG Special  Cancity        Won
3       MV1LWRNH      Moses Frase       GTX Basic  Codehow        Won
4       PE84CX4O        Zane Levy       GTX Basic   Hatfan        Won

  engage_date  close_date  close_value
0  2016-10-20  2017-03-01       1054.0
1  2016-10-25  2017-03-11       4514.0
2  2016-10-25  2017-03-07         50.0
3  2016-10-25  2017-03-09        588.0
4  2016-10-25  2017-03-02        517.0

Sales Teams ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sales_agent      35 non-null     object
 1   manager          35 non-null     object
 2   regional_office  35 non-null     object
dtypes: object(3)
memory usage: 968.0+ bytes
None
         sales_agent           manager regional_office
0      Anna Snelling  Dustin Brinkmann         Central
1     Cecily Lampkin  Dustin Brinkmann         Central
2  Versie Hillebrand  Dustin Brinkmann         Central
3    Lajuana Vencill  Dustin Brinkmann         Central
4        Moses Frase  Dustin Brinkmann         Central

In [5]:
# Ensure date columns are datetime
df['engage_date'] = pd.to_datetime(df['engage_date'], errors='coerce')
df['close_date'] = pd.to_datetime(df['close_date'], errors='coerce')

# Engineered column
df['sales_cycle_days'] = (df['close_date'] - df['engage_date']).dt.days

# Select features
features = [
    'sales_agent', 'manager', 'regional_office',      # team context
    'account', 'sector', 'year_established', 'revenue', 'employees', 'office_location', 'subsidiary_of',  # account context
    'product', 'series', 'sales_price',               # product context
    'deal_stage', 'engage_date', 'close_date', 'close_value', 'sales_cycle_days'  # pipeline context
]
df = df[features]

# Show columns
df.columns
# or
print(df.columns)
# ...existing code...

Index(['sales_agent', 'manager', 'regional_office', 'account', 'sector',
       'year_established', 'revenue', 'employees', 'office_location',
       'subsidiary_of', 'product', 'series', 'sales_price', 'deal_stage',
       'engage_date', 'close_date', 'close_value', 'sales_cycle_days'],
      dtype='object')

In [ ]:
# --- Data Cleaning ---

# 1. Check for missing values
print("Missing values per column:\n", df.isnull().sum())

# 2. Drop rows with too many missing values
df = df.dropna(thresh=int(0.7 * len(df.columns)))  # keeps rows with at least 70% non-NA values

# 3. Fill missing values (example: fill numeric with median, categorical with mode)
for col in df.select_dtypes(include='number'):
    df[col] = df[col].fillna(df[col].median())
for col in df.select_dtypes(include='object'):
    df[col] = df[col].fillna(df[col].mode()[0])

# 4. Remove duplicates
df = df.drop_duplicates()

# 5. Convert date columns to datetime
for date_col in ['engage_date', 'close_date']:
    df[date_col] = pd.to_datetime(df[date_col], errors='coerce')

# 6. Check data types
print("Data types:\n", df.dtypes)

# 7. Quick summary
print(df.describe(include='all'))

Missing values per column:
 sales_agent            0
manager                0
regional_office        0
account             1425
sector              1425
year_established    1425
revenue             1425
employees           1425
office_location     1425
subsidiary_of       7508
product                0
series              1480
sales_price         1480
deal_stage             0
engage_date          500
close_date          2089
close_value         2089
sales_cycle_days    2089
dtype: int64
Data types:
 sales_agent                 object
manager                     object
regional_office             object
account                     object
sector                      object
year_established           float64
revenue                    float64
employees                  float64
office_location             object
subsidiary_of               object
product                     object
series                      object
sales_price                float64
deal_stage                  object
engage_date         datetime64[ns]
close_date          datetime64[ns]
close_value                float64
sales_cycle_days           float64
dtype: object
            sales_agent        manager regional_office   account  sector  \
count              7344           7344            7344      7344    7344
unique               30              6               3        85      10
top     Darcel Schlecht  Melvin Marxen         Central  Hottechi  retail
freq                591           1560            2870       200    1391
mean                NaN            NaN             NaN       NaN     NaN
min                 NaN            NaN             NaN       NaN     NaN
25%                 NaN            NaN             NaN       NaN     NaN
50%                 NaN            NaN             NaN       NaN     NaN
75%                 NaN            NaN             NaN       NaN     NaN
max                 NaN            NaN             NaN       NaN     NaN
std                 NaN            NaN             NaN       NaN     NaN

        year_established       revenue     employees office_location  \
count        7344.000000   7344.000000   7344.000000            7344
unique               NaN           NaN           NaN              15
top                  NaN           NaN           NaN   United States
freq                 NaN           NaN           NaN            6093
mean         1995.470997   2470.361266   5707.562908             NaN
min          1979.000000      4.540000      9.000000             NaN
25%          1988.000000    647.180000   1238.000000             NaN
50%          1995.000000   1698.200000   3492.000000             NaN
75%          2002.000000   2952.730000   7523.000000             NaN
max          2017.000000  11698.030000  34288.000000             NaN
std             9.179656   2598.705755   6822.471451             NaN

           subsidiary_of    product series   sales_price deal_stage  \
count               7344       7344   7344   7344.000000       7344
unique                 7          7      3           NaN          4
top     Acme Corporation  GTX Basic    GTX           NaN        Won
freq                6375       1563   4773           NaN       4238
mean                 NaN        NaN    NaN   1754.685866        NaN
min                  NaN        NaN    NaN     55.000000        NaN
25%                  NaN        NaN    NaN    550.000000        NaN
50%                  NaN        NaN    NaN   1096.000000        NaN
75%                  NaN        NaN    NaN   3393.000000        NaN
max                  NaN        NaN    NaN  26768.000000        NaN
std                  NaN        NaN    NaN   2383.926457        NaN

                          engage_date                     close_date  \
count                            7211                           6711
unique                            NaN                            NaN
top                               NaN                            NaN
freq                              NaN                            NaN
mean    2017-06-14 01:05:29.995839744  2017-08-01 03:32:25.641484032
min               2016-10-20 00:00:00            2017-03-01 00:00:00
25%               2017-04-02 12:00:00            2017-05-18 00:00:00
50%               2017-06-20 00:00:00            2017-08-02 00:00:00
75%               2017-08-31 00:00:00            2017-10-18 00:00:00
max               2017-12-27 00:00:00            2017-12-31 00:00:00
std                               NaN                            NaN

         close_value  sales_cycle_days
count    7344.000000       7344.000000
unique           NaN               NaN
top              NaN               NaN
freq             NaN               NaN
mean     1403.092320         47.728077
min         0.000000          1.000000
25%         0.000000          9.000000
50%       472.000000         45.000000
75%      2871.500000         82.000000
max     30288.000000        138.000000
std      2236.747588         39.257052

In [7]:
#confirm whether there are still missing values

print("Missing values after cleaning:\n", df.isnull().sum())

Missing values after cleaning:
 sales_agent           0
manager               0
regional_office       0
account               0
sector                0
year_established      0
revenue               0
employees             0
office_location       0
subsidiary_of         0
product               0
series                0
sales_price           0
deal_stage            0
engage_date         133
close_date          633
close_value           0
sales_cycle_days      0
dtype: int64

In [8]:
# Drop rows with missing engage_date or close_date
df = df.dropna(subset=['engage_date', 'close_date'])

print("Missing values after dropping rows with missing dates:\n", df.isnull().sum())

Missing values after dropping rows with missing dates:
 sales_agent         0
manager             0
regional_office     0
account             0
sector              0
year_established    0
revenue             0
employees           0
office_location     0
subsidiary_of       0
product             0
series              0
sales_price         0
deal_stage          0
engage_date         0
close_date          0
close_value         0
sales_cycle_days    0
dtype: int64

In [9]:
df.to_csv("data_directory/cleaned_pipeline.csv", index=False)